
<div class=" main-bg">
  <br><br><br><br>
  <div class="login-container text-c animated flipInX">
    <div>
        <h1 class="logo-badge text-black"><span class="fa fa-user-circle"></span></h1>
    </div>
    <br>
    <div class="container-content">
        <hr class="text-whitesmoke">
        <span class="text-darkyellow"> <b> Name:</b></span>
        <span class="text-whitesmoke"> Inzamam-Ul Haque Sobuz</span>
        <br>
        <span class="text-darkyellow"> <b> Email:</b></span>
        <span class="text-whitesmoke"> bsse1113@iit.du.ac.bd</span>
        <br>
        <span class="text-darkyellow"> <b> Phone No:</b></span>
        <span class="text-whitesmoke"> 01722604815</span>
        <br>
        <span class="text-darkyellow"> <b> Address:</b></span>
        <span class="text-whitesmoke"> 12/2/A Abdul Hadi Lane, Nimtoli, Nazimuddin Road, Dhaka</span>
        <br>
        <hr class="text-whitesmoke">
    </div>
</div>
</div>
