.login-container{
  background-color: #F3F0D7;
  border-radius: 7px;
}
.btn{
  background-color: #FF7878;
  color: white;
}
.myModal{
  background-color: #F3F0D7 !important;
  padding: 15px;
}
.btn{
  border: 0;
}