
<div class=" main-bg">
  <br><br><br><br>
  <div class="login-container text-c animated flipInX">
    <div>
        <h1 class="logo-badge text-black"><span class="fa fa-user-circle"></span></h1>
    </div>
    <br>
    <div class="container-content">
        <hr class="text-whitesmoke">
        <span class="text-darkyellow"> <b> Name:</b></span>
        <span class="text-whitesmoke"> {{user.name}}</span>
        <br>
        <span class="text-darkyellow"> <b> Email:</b></span>
        <span class="text-whitesmoke"> {{user.email}}</span>
        <br>
        <span class="text-darkyellow"> <b> Phone No:</b></span>
        <span class="text-whitesmoke"> {{user.phone}}</span>
        <br>
        <span class="text-darkyellow"> <b> Address:</b></span>
        <span class="text-whitesmoke"> {{user.address}}</span>
        <br>
        <hr class="text-whitesmoke">
    </div>
</div>
</div>
