
<div class=" main-bg">
  <br><br><br><br>

  <div class="login-container text-c animated flipInX p-4">
    <div>
        <h1 class="logo-badge text-black text-center"><span class="fa fa-user-circle"></span></h1>
    </div>
    <br>
    <div class="container-content">
        <!-- <h2 class="text-whitesmoke mb-3">Rate My Food</h2> -->
        <form class="margin-t">
            <div class="form-group mb-3">
              <label class="text-darkyellow">Full Name</label>
              <input type="text" name="name" class="form-control" placeholder="Full Name" required [(ngModel)]="user.name" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group mb-3">
              <label class="text-darkyellow">Email Address</label>
              <input type="email" name="email" class="form-control" placeholder="Email Address" required [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group mb-3">
              <label class="text-darkyellow">Phone No</label>
              <input type="text" name="phone" class="form-control" placeholder="Phone No" required pattern="01(3|4|5|6|7|8|9)[0-9]{8}"  [(ngModel)]="user.phone" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group mb-3">
              <label class="text-darkyellow">Address</label>
              <input type="text" name="address" class="form-control" placeholder="Address" required [(ngModel)]="user.address" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group mb-4">
              <label class="text-darkyellow left">Password</label>
              <input type="password" name="password" class="form-control" placeholder="***********" required="" [(ngModel)]="user.password" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="form-group mb-4">
              <label class="text-darkyellow left">Confirm Password</label>
              <input type="password" name="password" class="form-control" placeholder="***********" required="" [(ngModel)]="confirm_password" [ngModelOptions]="{standalone:true}">
            </div>

            <hr class="text-whitesmoke">
            <button (click)="addUser()" type="submit" class="btn btn-outline-warning">Sign Up</button>
            <br>
            <br>
            <p class="text-whitesmoke text-center"><small>Already have an account? </small>
            <a href="" class="text-darkyellow" routerLink="signup"><small >Login</small></a></p>
        </form>
        <!-- <div class="alert" *ngIf="serverErrorMessages" style="color: red;">
          {{serverErrorMessages}}
        </div> -->
        <!-- <p class="margin-t text-darkyellow"><small> <b> Copyright &copy; 2022 RateMyFood </b> </small> </p> -->
    </div>
</div>
</div>
