<br>
<div class="card">
  <div class="heading">
    <h4><span> First time with HER!!!</span></h4>
    <hr>
    <ul type="none">
      <p>Jitesh Sureka <br>
        bsse1115@iit.du.ac.bd <br>
        Kustia, Bangladesh
      </p>
      <hr>
      <h4>
        <li>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUFJREFUSEu1lO01A0EUhp9UgApQATpQAh3oABWggkQF6EAJVCA6oAMq4Dw5M85kMzY32dn7J3s2O+/X3HsnjFyTkfHZluAUeEjinoEnYF4TuynBQQKWoFsz4Lr7MkqwC1wCtwngOz2r/gq4AHaAF+Ac+MpEEQIPTwFJLOMQ9A8E0JlkR8BdIaT3DozhBshxvCbgataJxP90cgh8qKbmQKUqVrn1mRQ9BjrOezDK+yRmhcCM/SDHoV0PlXH08RwDb4BuF85LB9ozwxaloL0uwU8L5AJjIb50kAkindWnZQlnE4J8P7lN/yPZmiAftKvs++YEdpOt62+e6LM0K3ada8JhCzmIxuEw7ScrduFJlCAaR0nwDjgHIQe1OGqZG5Fujcj9FI5oyEisdTAEvDy7MmgtV0V1F7VSvoQzdC2sFTU6wS9WwEkZP6fR9gAAAABJRU5ErkJggg=="/>
          Egg
        </li>
        <li>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKxJREFUSEvtlOENgyAQhT8ncAQ7gis4QVdwk9ZN3EBHcJVu0A3aXCIJnpoDI9Ef8I/weB93PChIPIrE/lwC+M1VObg1r4EBeAAT0Phd2arAMtTrI/D0TBeeZwAc0DEygL07ul+LrDeoYxxcwRcoDffPnHuRRafoDbwMQAeI7hBANsnmFqgUSE7ee+aHAb6vTs1ecZu6kM8uA6y4r15uvgOzZVGCkJhGGWpxcsAf00M3GVKaNqwAAAAASUVORK5CYII="/>
          Eatico
        </li>
        <li>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXpJREFUSEvFle0xREEQRc9GQAaIABEgAyJABIgEESACMkAEZIAMiIA6qkfNzs7H2x9b5s/Uzuu+t/v2x85Y8ZmtGJ8pBJvAGbAP7ERAr8ATcA2894IcEVwFeA9Dm4uWQY/AKLfD8Q4QyDePmZwDx1lGuzWSFkGK/CukScAlhkRKtRZySTp3agRq/hZWRpWDf8d77ifJS7xvlTWpEaToLWAZUY1A7NuQa8GnRpC0L6MXqEWQstB3rhY1ghIk/R41SpX8Xwjsir1IteyelkQO4SPwHF33l20tg1Qwh8eC56dFYDNcAs7LSe5QIzgE7qPdbLspBK6LDeAIeBgR+D05nEYL9laFEd8AH4AzNBw0DVIWn4BZeNfOegyl90L0OvR2USq290GDIM3MQnGTfY/AqJTKPWPhlSs/qRncV0pTzXK0rvNllpPk4LZoaxlO+sMpSczMGo027W+2owySJDmJb5PAlyHQVhKl8diaTVmmzEGv75f6NlWipUBz4x/2dVQZ/ApGpwAAAABJRU5ErkJggg=="/>
          Chankharpool, Dhaka
        </li>
      </h4>
      <hr>
        <li>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAONJREFUSEvtlVENwkAQRF8d4ABwAA6QgARwAArAARIAB0hAAjgAB6AAMsltsm2uIdujf+3nXm/e7XRvWtHzU/WsjwcsgCMwKYQ+gDVwlY4HaGFcKG7bpTVtAj5ptdS2mo4XGwDmf8iiJbADRsAWuCSVtrqWQwA/WTdgngBt9SLAHZhlAL4eBsiKfbJo07AoVw8Duty70DcYALWw895pWpSsNjVRq56WyrksUtQe0uREhfW+xFe5uLYOTPQMaDRfXSi2J9fBOwmfSoTbALqVak+x8JfHd6ATF1vSPFXp3+tnl70DviyDPxkmOZucAAAAAElFTkSuQmCC"/>
          It was so delicious because she was grabbing my hand for the first time.
        </li>
    </ul>
  </div>

</div>


