
<div class=" main-bg">
  <br><br>
  <div class="login-container text-c animated flipInX">
    <div>
        <h1 class="logo-badge text-black"><span class="fa fa-user-circle"></span></h1>
    </div>
    <br>
    <div class="container-content">
        <!-- <h2 class="text-whitesmoke mb-3">Rate My Food</h2> -->
        <hr class="text-whitesmoke">
        <form class="margin-t">
            <div class="form-group mb-3">
              <label class="text-darkyellow">EMAIL ADDRESS</label>
              <input type="email" name="email" class="form-control" placeholder="Email Address" required="">
            </div>
            <div class="form-group mb-4">
              <label class="text-darkyellow left">PASSWORD</label>
              <input type="password" name="password" class="form-control" placeholder="***********" required="">
            </div>
            <hr class="text-whitesmoke">
            <button type="submit" class="btn btn-outline-warning">Log In</button>
            <br>
            <br>
            <a class="text-darkyellow"><small>Forgot password?</small></a>
            <p class="text-whitesmoke text-center"><small>Do not have an account? </small>
            <a href="" class="text-darkyellow" routerLink="signup"><small >Register</small></a></p>
        </form>
        <!-- <div class="alert" *ngIf="serverErrorMessages" style="color: red;">
          {{serverErrorMessages}}
        </div> -->
        <!-- <p class="margin-t text-darkyellow"><small> <b> Copyright &copy; 2022 RateMyFood </b> </small> </p> -->
    </div>
</div>
</div>
