<div class="position-fixed">
  <img
    src="../../assets/RateMY (1).png"
    alt=""
    class="img-fluid"
    width="200px"
  />
  <div class="p-2">
    <ul class="navbar-nav">
      <li class="nav-item p-2 text-decoration-none">
        <a href="">Home</a>
      </li>
      <li class="nav-item p-2 text-decoration-none">
        <a href="">About</a>
      </li>
      <li class="nav-item p-2 text-decoration-none">
        <a href="">Services</a>
      </li>
      <li class="nav-item p-2 text-decoration-none">
        <a href="">Contact</a>
      </li>
    </ul>
    <div class="row mt-5">
      <div class=" col-md-3">
        <i class="fs-4 fa-solid fa-location-dot p-2 "></i>
      </div>
      <div class=" col-md-9">
        <p>Abdul Hadi Lane, Kayettuli</p>
      </div>
    </div>
    <div class="row mb-1">
      <div class=" col-md-3">
        <i class="fs-4 fa-solid fa-paper-plane p-2 "></i>
      </div>
      <div class=" col-md-9">
        <p>support@rmf.com</p>
      </div>
    </div>
    <p class="text-green">
      <small> <b> Copyright &copy; 2022 </b> </small>
      <span class="badge rounded-pill bg-dark text-light mt-2">RateMyFood</span>
    </p>
  </div>
</div>
